.footer-container {
    color: whitesmoke;
    padding: 30px;
    text-align: center;
    background-color: #212529;
}

.social-icon {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.footer-text-div {
    margin-top: 50px;
}