/*
FILE NAME: logIn
THIS WAS CODED BY: ALEX GREEN 
last Eddited: 6/4/2021
BOOTSTRAP was used in this project.

*/

.logIn-body {
    background-color: antiquewhite;
}

.styled-div {
    border: 2px solid black;
    margin-left: auto;
    height: 250px;
    border-radius: 20px;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    margin-top: 260px;
    background-color: darkgray;
}

.form-group {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.form-input {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.log-in-btn {
    position: relative;
    top: 20px;
    text-decoration: none;
    color: whitesmoke;
    background-color: green;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}