<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/AboutMe.css" />
</head>

<body id="aboutBody">
    <%- include('../Components/NavBar.ejs') %>
        <div class="container-fluid" id="aboutMe-Container">
            <div class="container" id="info-card">
                <div class="row" id="row">
                    <div class="col-sm">
                        <div class="text-information">
                            <p class="secondary-text-info">
                                Hello, my Name is Alex Green. Welcome to my website. Here you can find all kinds of information about me, the projects i've completed and much more. Feel  free to make an account and come back for more updates
                                on the website.
                              
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img  src="/Assets/img/ProfilePicture.jpg" alt="Alex" class="profile-pic" style="width:100%">
                            <h1>Alex Green</h1>
                            <p class="title">A.I. Engineering Technologies.</p>
                            <p>Centennial College</p>
                            <p><button class="contact-btn">Contact</button></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" id="hobbies-music">
                <div class="row justify-content-md-center">
                    <div class="col">
                         <h4>Hobbies:</h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Hobbie</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Playing Volleyball</td>
                                    <td> I played volleyball for more then 10 years and loved going every saturday to play before the pandemic.</td>
                                  
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>React Coding</td>
                                    <td>I code alot in React and make alot of applications with React. I'm currently working on another website in React aswell.</td>
                                   
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Hiking</td>
                                    <td>I love hiking. I used to hike with my brother before the pandemic alot and we have been to many trails around Ontario.</td>
                                
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

            <div class="container" id="hobbies-music">
                <div class="row justify-content-md-center">
                    <div class="col">
                         <h4>Sports</h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Favortie Sport</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>VolleyBall</td>
                                    <td>Volleyball might be my favorite sport of all time. I have played so much and love being on the court. </td>
                                  
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Golf</td>
                                    <td>Ever since I got my job at BGCC, I have loved the sport of golf. I used to try to golf at least once a week before covid but now i havent been out at all.</td>
                                  
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Football</td>
                                    <td>I never played much football when I was younger but I love watcing it every year. GO BUCKS GO!</td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                          <h4>Favorite Games</h4>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Game</th>
                                                <th scope="col">Company</th>
                                                <th scope="col">Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>CS:GO</td>
                                                <td>Valve</td>
                                                <td>CS:GO is a great game to play with friends</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Fallout  76 </td>
                                                <td>Bethesda Games</td>
                                                <td>Fallout 76 in my opinion is the best open world post apocolpic survival game ever made</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>WarZone </td>
                                                <td>Activision</td>
                                                <td>I play warzone alot with my brother, and it defenetly helps pass the time durring quarentine.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                    </div>

                    <div class="container-fluid" id="resume-fav-games">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="resume-download-container">

                                        <a class="download-btn" href="" download>
                                            Download Resume
                                        </a>
                                    </div>
                                </div>
                                <div class="col">
                                  <h4>Favorite Music</h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Song</th>
                                    <th scope="col">Link</th>
            
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Rap Saved Me - 21 Savage</td>
                                    <td></td>
                                  
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Motto - Drake</td>
                                    <td>Thornton</td>
                                  
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>ThunderStruck - ACDC</td>
                                    <td>the Bird</td>
                                  
                                </tr>
                            </tbody>
                        </table>
                         
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
        <!--
            <div class="page-title">
                <h3>About Me</h3>
            </div>

            <div class="personal-information">
                <div class="text-information">
                    <p class="secondary-text-info">
                        Hello, my Name is Alex Green. Welcome to my website. Here you can find all<br /> kinds of information about me, the projects i've completed and much more. Feel <br /> free to make an account and come back for more updates on the
                        website.<br />
                    </p>
                </div>

                <div class="picture-card">
                    <div class="card">
                        <img src="/img/ProfilePicture.jpg" alt="Alex" class="profile-pic" style="width:100%">
                        <h1>Alex Green</h1>
                        <p class="title">A.I. Engineering Technologies.</p>
                        <p>Centennial College</p>
                        <div style="margin: 24px 0;">
                            <a href="#"><i class="fa fa-dribbble">s</i></a>
                            <a href="#"><i class="fa fa-twitter">s</i></a>
                            <a href="#"><i class="fa fa-linkedin">s</i></a>
                            <a href="#"><i class="fa fa-facebook">s</i></a>

                        </div>
                        <p><button class="contact-btn">Contact</button></p>
                    </div>

                </div>
            </div>
            <div class="hobbies">
                <div class="left-hobbies">
                    <h4>Hobbies:</h4>
                    <table>
                        <tr>
                            <td>Playing Volleyball</td>
                        </tr>
                        <tr>
                            <td>React Coding</td>
                        </tr>
                        <tr>
                            <td>Hiking</td>
                        </tr>
                        <tr>
                            <td>OffRoad - Biking</td>
                        </tr>
                    </table>
                </div>

                <div class="right-hobbies">

                    <table class="fav-music">
                        <h4>Favorite Music</h4>
                        <tr>
                            <th>Artist</th>
                            <th> Song Name</th> ,bmv ,... .
                        </tr>
                        <tr>
                            <td>Drake</td>
                            <td>Motto</td>
                        </tr>
                        <tr>
                            <td>21 Savage</td>
                            <td>Rap Saved Me</td>
                        </tr>
                        <tr>
                            <td>Katy Perry</td>
                            <td>Fire Wors</td>
                        </tr>
                        <tr>
                            <td>Migos</td>
                            <td>Drop Tops</td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="Resume-FavoriteGames">
                <div class="resume-container">
                    <a class="download-btn" href="" download>
                                Download Resume
                            </a>

                </div>

                <div class="favortie-games">
                    <h4 class="fav-games">Favorite Games</h4>

                    <table>
                        <tr>
                            <th>Company Name</th>
                            <th>Game</th>
                        </tr>
                        <tr>
                            <td>Valve</td>
                            <td>CS:GO</td>
                        </tr>
                        <tr>
                            <td>343 Industries</td>
                            <td>Halo</td>
                        </tr>
                        <tr>
                            <td>Activision</td>
                            <td>Warzone</td>
                        </tr>
                        <tr>
                            <td>Mojang</td>
                            <td>Minecraft</td>
                        </tr>
                    </table>
                </div>
            </div>
                -->

        <%- include('../Components/footer.ejs') %>
</body>

</html>