<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/ContactPage.css" />
</head>

<body id="contact-body">
    <%- include('../Components/NavBar.ejs') %>
        <div class="container-fluid" id="contactPage-Background">
            <div class="container">
                <div class="row" id='contact-row'>
                    <div class="col">
                        <div class="pfp-container">
                            <img class="closeUp-pfp" src="/Assets/img/ProfilePicture.jpg" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="contact-container">
                            <p class="name">Jake Alexander Green</p>
                            <a class="personal-email">alex20green01@gmail.com</a>
                            <a class="school-email">jgreen55@centennialcollege.ca</a>
                            <p class="student-number">301129153</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="social-icon-container">
                       <a href="https://www.instagram.com/"><img src="/Assets/img/insta.png" class="social-icon" id="insta" alt="insta"/></a>
                <a href="https://www.discord.com/"><img src="/Assets/img/discord.png" class="social-icon" id="discord" /></a>
                <a href="https://www.facebook.com/"> <img src="/Assets/img/faceBook.png" class="social-icon" id="facebook" /></a>
               <a href="https://www.reddit.com/"><img src="/Assets/img/reddit.png" class="social-icon" id="reddit" /></a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="github-container">
                    <img class="github-img" src="/Assets/img/github.png" id="linked-in" />
                <p class='github-text'>Check out my Github:</p>
                <a  class="btn btn-warning" href="https://github.com/ShockTroopa14">Github</a>
            </div>

        </div>
        <!--
     <div class="contectPage-Background">
     <header class="contactInfo-text">
        <h4 class="header-contact">Contact Info:</h4>
        <div class="pfp-container">
          <img class="closeUp-pfp" src="/img/ProfilePicture.jpg" />    
        </div>
          
        <div class="contact-container">
        <p class="name">Jake Alexander Green</p>
          <a class="personal-email">alex20green01@gmail.com</a>
          <a class="school-email">jgreen55@centennialcollege.ca</a>
          <p class="student-number">301129153</p>
        </div>
     </header>

    <div class="socialMedia-container">
    <h4 class="social">Socials:</h4>
        <div class="social-icon-container">
        <img class="social-icon" src="/img/discord.png" id="discord" />
        <img class="social-icon" src="./img/insta.png" id="instagram" />
        <img class="social-icon" src="./img/reddit.png" id="reddit" />
        <img class="social-icon" src="./img/faceBook.png" id="facebook" />
        <img class="social-icon" src="./img/linked.png" id="linked-in" />
        </div>
    </div>

        <div class="github-container">
        <p class="github-text">Check out my Gitub:</p>
        <img src="/img/github.png" class="github-img" alt="github-img" />
        <a class="github-link-btn">Github Account</a>  
        </div>
     </div>
 -->
        <%- include('../Components/footer.ejs') %>
</body>

</html>