<!DOCTYPE html>
<html lang="en">

<head>
    <title>LogIn Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="/css/logIn.css">
</head>

<body class="logIn-body">
<div class="styled-div">

    <h1>Log-In</h1>

    <form action="/register" method="post">
        <div class="form-group">
            <label for="logIn-userName" class="form-userName">UserName</label>
            <input type="text" class="form-input" name="logIn-userName" id="userName-input" />
        </div>
         <div class="form-group">
             <label for="logIn-password" class="form-password">Password</label>
            <input type="logIn-password" class="form-input" name="logIn-password" id="password-input" />
        </div>
            <a href="/">LogIn</a>
    </form>
    </div>
</body>

</html>